In [2]:
import pandas as pd

In [24]:
df = pd.read_csv('dados.csv')
df.columns = df.columns.str.replace(' ', '_').str.lower()
df.drop(labels=[4], axis=0, inplace=True)
df.drop_duplicates(inplace=True)
df['data_venda'] = pd.to_datetime(df['data_venda'], format='mixed', dayfirst=True).dt.strftime('%Y-%m-%d')
soma = 0
for p in df['preco'].dropna():
    soma += float(p)
media = soma/len(df['preco'].dropna())
df['preco'].fillna(media, inplace=True)
df['quantidade'].fillna(1, inplace=True)
display(df)

C:\Users\renan\AppData\Local\Temp\ipykernel_51424\2157378585.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['preco'].fillna(media, inplace=True)
C:\Users\renan\AppData\Local\Temp\ipykernel_51424\2157378585.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['quantidade'].fillna(1, inplace=True)

   data_venda     produto        preco quantidade cliente
0  2023-01-01    Notebook         2500         10    João
1  2023-01-02  Smartphone         1500          1   Maria
2  2023-03-01      Tablet         1200         15   Pedro
5  2023-04-01     Monitor  1733.333333          5     Ana